body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(62, 62, 62);
}

.scene{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: #4290f0;
    border: 20px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    animation: animateScene 5s linear infinite;
}

.scene::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 1;
}

.fa-rocket{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
    color: #fff;
    font-size: 10rem !important;
    animation: animateRocket .2s linear infinite;
}

.cloud{
    position: absolute;
    color: #ccc;
    animation: animateCloud 1s linear infinite;
}

.cloud1{
    left: 10%;
    font-size: 6rem;
}

.cloud2{
    right: 20%;
    font-size: 3rem;
}

.cloud3{
    left: 40%;
    font-size: 5rem;
    animation-delay: .4s;
    z-index: -1;
}

@keyframes animateRocket{
    0%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(0,0);
    }
    50%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(-5px,-5px);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-45deg) translate(0,0);
    }
}

@keyframes animateCloud{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(1000%);
    }
}

@keyframes animateScene{
    0%{
        background: #4290f0;
    }
    30%{
        background: #f07642;
    }
    60%{
        background: #004498;
    }
    100%{
        background: #4290f0;
    }
}